.reviewer
	&__avatar
		width: 120px
		height: 120px
		margin-bottom: 20px
		border-radius: 50%
		background-color: #f3f0ec

	&__name
		width: 270px
		margin-bottom: 10px
		font-size: 24px
		color: $secondary-color

	&__duty
		margin-bottom: 50px
		font-size: 18px
		opacity: .6
