+b.SECTION.reviews
	+e.comment-wrap
		+e.comment Пацаны ваще ребята, Не в натуре класс, заебись, чётко. Получается у вас - умеете , могёте! А особенно вон тот вот c лобзиком Да и вы все могёте! Не в натуре класс. Умеете, могёте!
		
		+e.comment 1Пацаны ваще ребята, Не в натуре класс, заебись, чётко. Получается у вас - умеете , могёте! А особенно вон тот вот c лобзиком Да и вы все могёте! Не в натуре класс. Умеете, могёте!
	
	+e.reviewer
		+b.reviewer
			+e.avatar
			
			+e.name Гопникус Обыкновенникус
			
			+e.duty Директор Супратена
		
		+b.reviewer
			+e.avatar
			
			+e.name 1Гопникус Обыкновенникус
			
			+e.duty Директор Супратена

			
		+e.next <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 12" fill-opacity=".7" opacity=".4"><path d="M0 7h14.2l-3.6 3.6L12 12l6-6-6-6-1.4 1.4L14.2 5H0z"/></svg>
