@media (--mobile)
	.partners
		&
			width: 82.5vw
			margin: 0 auto

		&__heading
			margin-bottom: 5vw

		&__subheading
			width: 100%
			margin-bottom: 9.4vw
			font-size: 4.3vw

		&__logos-list
			width: 100%
			margin-bottom: 10vw
			flex-wrap: wrap

		&__logo
			margin-bottom: 10vw

			&:last-child
				margin-bottom: 0
		
		&__logo img
			width: 75%

		&__text
			width: 100%
			font-size: 4.3vw

@media (--desktop-large)
	.partners
		&__logo img
			width: 150%
