.partners
	&
		margin-left: 10vw

	&__heading
		margin-bottom: 1vw
		color: #3a3427

	&__subheading
		width: 32vw
		margin-bottom: 2.8vw
		font-size: 1.25vw
		color: #3a3427

	&__logos-list
		display: flex
		align-items: center
		justify-content: space-between
		width: 36vw
		margin-bottom: 3.1vw

	&__logo
		margin-right: 2.7vw

	&__logo img
		width: 100%

	&__text
		width: 22vw
		font-size: 1.25vw
		color: #3a3427
