extends ../layouts/base.pug

block header
	include ../components/header/header.pug

block info
	include ../components/company/company.pug
	
	include ../components/services/services.pug

	include ../components/partners/partners.pug

block gallery
	include ../components/gallery/gallery.pug

block reviews
	include ../components/reviews/reviews.pug

block footer
	include ../components/footer/footer.pug
