.contacts
	&
		display: flex

	&__call
		padding: 20px 8px 12px 30px
		background-color: $main-color

	&__text
		font-size: 18px
		color: rgba(#fff, .6)

	&__number
		font-family: $secondary-font
		font-size: 24px
		color: #fff

	&__phone
		&
			display: flex
			align-items: center
			justify-content: center
			width: 90px
			height: 90px
			background-color: $main-color

		&
			svg
				width: 24px
				height: 24px

	&__mail
		&
			display: flex
			align-items: center
			justify-content: center
			width: 90px
			height: 90px
			background-color: rgba($main-color, .5)

		&
			svg
				width: 30px
				height: 24px
