+b.services
	+e.heading.H2.heading Мы занимаемся
	
	+e.UL.list
		+e.item
			+e.icon
				<svg id="icon-1-1" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M9.344.795l8.237 8.238a.5.5 0 0 1 0 .707l-.882.882a.5.5 0 0 1-.707 0L7.755 2.384a.5.5 0 0 1 0-.707l.881-.882a.5.5 0 0 1 .708 0zm0 4.495l8.237 8.237a.5.5 0 0 1 0 .707l-.882.882a.5.5 0 0 1-.707 0L7.755 6.88a.5.5 0 0 1 0-.708l.881-.881a.5.5 0 0 1 .708 0zM6.409 3.042a.5.5 0 0 1 .707 0l.882.882a.5.5 0 0 1 0 .707l-5.99 5.991a.5.5 0 0 1-.707 0L.419 9.74a.5.5 0 0 1 0-.707l5.99-5.99zm0 4.495a.5.5 0 0 1 .707 0l.882.882a.5.5 0 0 1 0 .707l-5.99 5.99a.5.5 0 0 1-.707 0l-.882-.882a.5.5 0 0 1 0-.707l5.99-5.99zm0 4.494a.5.5 0 0 1 .707 0l.882.882a.5.5 0 0 1 0 .707l-5.99 5.99a.5.5 0 0 1-.707 0l-.882-.881a.5.5 0 0 1 0-.707l5.99-5.991zm2.935-2.247l8.237 8.238a.5.5 0 0 1 0 .707l-.882.882a.5.5 0 0 1-.707 0l-8.237-8.238a.5.5 0 0 1 0-.707l.881-.882a.5.5 0 0 1 .708 0z" id="icon-1"/></defs><use xlink:href="#icon-1" fill-rule="evenodd"/></svg>

			+e.text Установка штучного паркета

		+e.item
			+e.icon
				<svg id="icon-1-2" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M21 0h-4c-.6 0-1 .4-1 1v18c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-1 18h-2V2h2v16zM13 5H9c-.6 0-1 .4-1 1v13c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1zm-1 13h-2V7h2v11zm-7-8H1c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h4c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1zm-1 8H2v-6h2v6z" id="icon-2"/></defs><use xlink:href="#icon-2"/></svg>

			+e.text Установка паркетной доски

		+e.item
			+e.icon
				<svg id="icon-1-3" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M13 0H9c-.6 0-1 .4-1 1v18c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-1 18h-2V2h2v16zm9-13h-4c-.6 0-1 .4-1 1v13c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1zm-1 13h-2V7h2v11zM5 10H1c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h4c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1zm-1 8H2v-6h2v6z" id="icon-3"/></defs><use xlink:href="#icon-3"/></svg>

			+e.text Установка ламината
			
		+e.item
			+e.icon
				<svg id="icon-1-4" viewBox="0 0 16 22" xmlns="http://www.w3.org/2000/svg"><path d="M14 3.053V1a1 1 0 0 1 2 0v21H1a1 1 0 0 1 0-2h5.81c.09-2.494.516-4.29 1.35-6.475.038-.1.384-.992.479-1.245.533-1.428.757-2.442.757-3.8 0-3.213 1.625-5.097 4.604-5.427zm0 2.01c-1.813.262-2.604 1.337-2.604 3.417 0 1.628-.273 2.866-.884 4.5-.1.267-.45 1.17-.484 1.258-.752 1.97-1.13 3.545-1.216 5.762H14V5.063z" fill-rule="evenodd"/></svg>

			+e.text Установка плинтуса

		+e.item._animate
			+e.icon
				<svg id="icon-1-5" viewBox="0 0 19 22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M15.4 5.9L9.7.3C9.5.1 9.3 0 9 0c-.3 0-.5.1-.7.3L2.7 5.9C.9 7.6 0 9.9 0 12.3c0 2.4.9 4.7 2.6 6.4 1.7 1.7 4 2.6 6.4 2.6 2.4 0 4.7-.9 6.4-2.6 3.5-3.5 3.5-9.2 0-12.8zM14 17.3c-1.4 1.3-3.1 2-5 2s-3.6-.7-4.9-2c-1.4-1.4-2.1-3.1-2.1-5s.7-3.6 2-4.9l4.9-5 5 5c2.8 2.7 2.8 7.1.1 9.9z" id="icon-5"/></defs><use xlink:href="#icon-5"/></svg>

			+e.text Покраска плинтуса

		+e.item
			+e.icon
				<svg id="icon-1-6" viewBox="0 0 22 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M.6 6.883l10 5.006c.1.1.2.1.4.1s.3 0 .4-.1l10-5.006c.4-.2.6-.5.6-.901 0-.4-.2-.701-.6-.901L11.4.075c-.3-.1-.6-.1-.9 0L.5 5.081c-.3.2-.5.5-.5.9 0 .401.2.702.6.902zM11 2.077l7.8 3.905L11 9.886 3.2 5.982 11 2.077zm10.9 8.51c.2.5 0 1.101-.4 1.302l-10 5.005c-.2.1-.3.1-.5.1s-.3 0-.4-.1L.6 11.89c-.5-.2-.7-.801-.4-1.302.2-.5.8-.7 1.3-.4l9.6 4.805 9.6-4.805c.3-.3.9-.1 1.2.4z" id="icon-6"/></defs><use xlink:href="#icon-6"/></svg>

			+e.text Стяжка

		+e.item
			+e.icon
				<svg id="icon-1-7" viewBox="0 0 22 23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M19.9 17.4c1.3-1.8 2.1-4 2.1-6.4 0-1.5-.3-3-.9-4.3v-.1c-1.5-3.5-4.8-6-8.8-6.5h-.1C11.8 0 11.4 0 11 0 7.4 0 4.2 1.7 2.2 4.4c0 .1-.1.1-.1.2C.8 6.4 0 8.6 0 11c0 1.5.3 3 .9 4.4v.1c1.5 3.4 4.8 6 8.7 6.5h.1c.4 0 .8.1 1.2.1 3.6 0 6.8-1.7 8.8-4.4.1-.1.2-.2.2-.3zM12.7 14H9.2l-1.7-3 1.7-3h3.5l1.7 3-1.7 3zM2 11c0-1.4.3-2.8.9-4l4 7H2.5c-.3-.9-.5-1.9-.5-3zm13-3h4.4c.3.9.5 1.9.5 3 0 1.4-.3 2.8-.9 4l-4-7zm3.5-2h-8.1l2.2-3.8c2.5.4 4.6 1.8 5.9 3.8zm-8.1-4l-4 7-2.2-3.8c1.5-1.8 3.7-3 6.2-3.2zM3.5 16h8.1l-2.2 3.8C6.9 19.4 4.8 18 3.5 16zm8.1 4l4-7 2.2 3.8c-1.5 1.8-3.7 3-6.2 3.2z" id="icon-7"/></defs><use xlink:href="#icon-7"/></svg>

			+e.text Циклевка

		+e.item
			+e.icon
				<svg id="icon-1-8" viewBox="0 0 16 22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M4 2.146H2v8.842c0 .599.4.998 1 .998h10c.6 0 1-.4 1-.998V2.146H6V7.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V2.146zM0 0h16v10.988c0 1.698-1.3 2.996-3 2.996H3c-1.7 0-3-1.298-3-2.996V0zm10 13c.6 0 1 .4 1 1v7c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1v-7c0-.6.4-1 1-1h4zM9.5 1h1a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5zM9 20v-6H7v6h2z" id="icon-8"/></defs><use transform="rotate(-180 8 11)" xlink:href="#icon-8"/></svg>

			+e.text Лакировка

		+e.item
			+e.icon
				<svg id="icon-1-9" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M19.388 12.959a10.96 10.96 0 0 1-2.612-.603c-1.105-.402-2.31-.1-3.214.703l-.704.704c-1.808-1.206-3.415-2.713-4.62-4.621l.703-.704c.803-.803 1.105-2.11.703-3.214a11.007 11.007 0 0 1-.603-2.612C8.841 1.105 7.534 0 6.027 0H2.712C1.91.1 1.205.502.703 1.105S0 2.511 0 3.315c.301 3.215 1.507 6.43 3.215 9.142a21.124 21.124 0 0 0 6.328 6.328C12.256 20.594 15.47 21.7 18.685 22h.301c.804 0 1.608-.301 2.11-.904.502-.603.904-1.306.904-2.11v-3.013c0-1.507-1.105-2.813-2.612-3.014zm.603 3.014v3.013c0 .302-.1.503-.302.703-.2.201-.401.302-.803.302-2.913-.302-5.726-1.306-8.238-2.913-2.31-1.407-4.219-3.416-5.726-5.726C3.315 8.84 2.311 6.027 2.01 3.114c0-.301.1-.502.201-.703.201-.201.502-.402.804-.402h3.013c.503 0 .905.402 1.005.904.1 1.005.402 2.11.804 3.014.1.402 0 .804-.201 1.105L6.329 8.237a1.068 1.068 0 0 0-.201 1.206 16.484 16.484 0 0 0 6.43 6.43c.4.2.903.2 1.205-.202l1.305-1.306c.302-.301.704-.402 1.106-.2 1.004.401 2.009.602 3.013.803.402.1.804.502.804 1.005z" id="icon-9"/></defs><use xlink:href="#icon-9"/></svg>

			+e.text Консультации