+b.services
	+e.heading.H2.heading Услуги
	
	+e.UL.list
		+e.item Консультации
		
		+e.item Установка штучного паркета, паркетной доски и ламината
		
		+e.item Установка плинтуса
		
		+e.item Стяжка
		
		+e.item Циклевка
		
		+e.item Лакировка
