@media (--mobile)
	.services
		&
			position: relative
			top: 0
			right: 0
			width: 74vw
			margin: 0 6.25vw 26.5vw
			padding: 7.8vw 0 11vw 13.4vw

		&__heading
			margin-bottom: 6.7vw

		&__item
			margin-bottom: 4.1vw
			font-size: 4.4vw
			line-height: normal

			&::before
				left: -6.1vw

			&:last-child
				margin-bottom: 0
