.services
	&
		width: 360px
		position: absolute
		top: 405px
		right: 200px
		padding: 40px 0 50px 55px
		background-color: #fff

	&__heading
		margin-bottom: 25px
		font-size: 24px
		color: #ded4c3

	&__item
		&
			margin-bottom: 20px
			font-size: 18px
			line-height: 20px

		&::before
			content: '\2014'
			position: absolute
			margin-left: -15px
			opacity: .3
