.services
	&
		width: 305px
		position: absolute
		top: 405px
		right: 15vw
		padding: 40px 0 35px 55px
		background-color: #fff

	&__heading
		margin-bottom: 25px
		margin-left: 5px

	&__item
		&
			margin-bottom: 20px
			margin-left: 5px
			font-size: 18px
			line-height: 20px

		&::before
			content: '\2014'
			position: absolute
			margin-left: -20px
			opacity: .3
