+b.SECTION.gallery
	+e.info
		+e.heading.H1.heading Галерея
		
		+e.caption-list
			+e.caption Дуб однополосный под белым лаком
			
			+e.caption Дуб однополосный под белым лаком1
		
		+e.slide-count
			span
		
	
	+e.slider
		+e.slider-wrap
			+e.slide
				img(src="assets/images/slide.jpg", alt="")
			
			+e.slide
				img(src="assets/images/slide.jpg", alt="")
			
		+e.controls
			+e.slider-prev <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 12"><path fill-opacity=".7" d="M18 5H3.8l3.6-3.6L6 0 0 6l6 6 1.4-1.4L3.8 7H18z" opacity=".4"/></svg>

			+e.slider-next <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 12" fill="#fff"><path d="M0 7h14.2l-3.6 3.6L12 12l6-6-6-6-1.4 1.4L14.2 5H0z"/></svg>
