+b.SECTION.gallery
	+e.heading._mobile.H1.heading._mobile Галерея
	
	+e.info
		+e.heading.H1.heading._desktop Галерея
		
		+e.caption-list
			+e.caption Трехслойный дуб фирмы "Барлинек"
			
			+e.caption Трехслойный дуб фирмы "Бастркон"

			+e.caption Трехслойный дуб фирмы "Бастркон"
			
			+e.caption Паркетная доска фириы "Магнум" 

			+e.caption Паркетная доска фириы "Магнум"
			
			+e.caption Наличие сучков придает большую естественность

			+e.caption Дуб под белым лаком фирмы "Цобель"
			
			+e.caption Бук под лаком фирмы "Цобель"

			+e.caption Паркетная доска однополосная
			
			+e.caption Темный цвет паркета предполагает перепады по тону

			+e.caption Смелые решения - привилегия свободных людей!
		
		+e.slide-count
			span
		
	+e.slider
		+e.slider-wrap
			+e.slide
				img(src="assets/images/product-1.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-2.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-3.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-4.jpg", alt="")

			+e.slide
				img(src="assets/images/product-5.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-6.jpg", alt="")

			+e.slide
				img(src="assets/images/product-7.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-8.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-9.jpg", alt="")

			+e.slide
				img(src="assets/images/product-10.jpg", alt="")
			
			+e.slide
				img(src="assets/images/product-11.jpg", alt="")
			
		+e.controls
			+e.slider-prev <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 12"><path d="M18 5H3.8l3.6-3.6L6 0 0 6l6 6 1.4-1.4L3.8 7H18z"/></svg>

			+e.slider-next <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 12" fill="#fff"><path d="M0 7h14.2l-3.6 3.6L12 12l6-6-6-6-1.4 1.4L14.2 5H0z"/></svg>
