doctype html

html
	head
		meta(charset='UTF-8')
		title Clemo
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet")
		link(href="http://allfont.ru/allfont.css?fonts=montserrat-hairline" rel="stylesheet")
		link(rel="stylesheet", href="./assets/styles/main.css")

	body
		include ../helpers/bemto/bemto
	
		block body

		include ../partials/scripts
