doctype html

html
	head
		meta(charset='UTF-8')
		title Clemo
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="./assets/styles/main.css")

	body
		include ../helpers/bemto/bemto
	
		block body
			+b.MAIN
				+b.SECTION.info
					block info

		include ../partials/scripts
