@media (--mobile)
	.footer
		&
			display: block
			padding: 0
			background: transparent

		&__logo
			display: none

		&__experience
			display: none

		&__contacts_desktop
			display: none

		&__contacts_mobile
			display: flex

		&__call
			padding: 4vw 7.5vw 4vw 6.25vw
			background-color: $main-color

		&__text
			font-size: 4.4vw
			color: rgba(#fff, .6)

		&__number
			font-family: $secondary-font
			font-size: 5vw
			color: #fff

		&__phone
			&
				display: flex
				align-items: center
				justify-content: center
				width: 21.8vw
				height: 21.8vw
				background-color: $main-color

			&
				svg
					width: 5.6vw
					height: 5.6vw

		&__mail
			&
				display: flex
				align-items: center
				justify-content: center
				width: 21.8vw
				height: 21.8vw
				background-color: rgba($main-color, .6)

			&
				svg
					width: 7.5vw
					height: 5.9vw
